{{>licenseInfo}}
{{#operations}}
#ifndef {{apiHeaderGuardPrefix}}_{{classname}}GMock_H_
#define {{apiHeaderGuardPrefix}}_{{classname}}GMock_H_

#include <gmock/gmock.h>

#include "{{classname}}.h"

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

using namespace {{modelNamespace}};


class {{declspec}} {{classname}}Mock : public I{{classname}}
{
public:
    using Base = I{{classname}};

    {{classname}}Mock() = default;
    explicit {{classname}}Mock( std::shared_ptr<ApiClient> apiClient ) { };
    ~{{classname}}Mock() override = default;

    {{#operation}}
    {{#vendorExtensions.x-group-parameters}}
    MOCK_METHOD( (pplx::task<{{{returnType}}}{{^returnType}}void{{/returnType}}>), {{operationId}}, (
        {{#vendorExtensions.x-fc-positional-params}}
        {{{dataType}}} {{paramName}}{{^-last}},{{/-last}}
        {{/vendorExtensions.x-fc-positional-params}}
        {{#vendorExtensions.x-fc-has-grouped}}
        {{#vendorExtensions.x-fc-positional-params}}{{#-last}}, {{/-last}}{{/vendorExtensions.x-fc-positional-params}}const Api{{operationIdCamelCase}}Options& options
        {{/vendorExtensions.x-fc-has-grouped}}
    ), (const, override) );
    {{/vendorExtensions.x-group-parameters}}
    {{^vendorExtensions.x-group-parameters}}
    MOCK_METHOD{{allParams.size}}( {{operationId}}, pplx::task<{{{returnType}}}{{^returnType}}void{{/returnType}}> (
        {{#allParams}}
        {{^required}}boost::optional<{{/required}}{{#isFile}}std::shared_ptr<{{/isFile}}{{{dataType}}}{{#isFile}}>{{/isFile}}{{^required}}>{{/required}} {{paramName}}{{^-last}},{{/-last}}
        {{/allParams}}
    ) );
    {{/vendorExtensions.x-group-parameters}}
    {{/operation}}
};

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

#endif /* {{apiHeaderGuardPrefix}}_{{classname}}GMock_H_ */

{{/operations}}
