{{>licenseInfo}}
{{#operations}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#ifndef {{apiHeaderGuardPrefix}}_{{classname}}_H_
#define {{apiHeaderGuardPrefix}}_{{classname}}_H_

{{{defaultInclude}}}

#include "{{packageName}}/ApiClient.h"
{{^hasModelImport}}#include "{{packageName}}/ModelBase.h"{{/hasModelImport}}
{{#imports}}{{{import}}}
{{/imports}}
#include <boost/optional.hpp>

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

using namespace {{modelNamespace}};

{{#operation}}
{{#vendorExtensions.x-group-parameters}}
{{#vendorExtensions.x-fc-grouped-multi}}
struct Api{{operationIdCamelCase}}Options
{
    {{#vendorExtensions.x-fc-grouped-params}}
    boost::optional<{{{dataType}}}> {{paramName}};
    {{/vendorExtensions.x-fc-grouped-params}}
};
{{/vendorExtensions.x-fc-grouped-multi}}
{{/vendorExtensions.x-group-parameters}}
{{/operation}}

{{#gmockApis}}
class {{declspec}} I{{classname}}
{
public:
    I{{classname}}() = default;
    virtual ~I{{classname}}() = default;

    {{#operation}}
    {{#vendorExtensions.x-group-parameters}}
    virtual pplx::task<{{{returnType}}}{{^returnType}}void{{/returnType}}> {{operationId}}(
        {{#vendorExtensions.x-fc-positional-params}}
        {{{dataType}}} {{paramName}}{{^-last}},{{/-last}}
        {{/vendorExtensions.x-fc-positional-params}}
        {{#vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}, {{/vendorExtensions.x-fc-grouped-single}}{{/vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}boost::optional<{{{dataType}}}> {{paramName}} = boost::none{{/vendorExtensions.x-fc-grouped-single}}
        {{#vendorExtensions.x-fc-grouped-multi}}
        {{#vendorExtensions.x-fc-positional-params}}{{#-last}}, {{/-last}}{{/vendorExtensions.x-fc-positional-params}}const Api{{operationIdCamelCase}}Options& options = {}
        {{/vendorExtensions.x-fc-grouped-multi}}
    ) const = 0;
    {{/vendorExtensions.x-group-parameters}}
    {{^vendorExtensions.x-group-parameters}}
    virtual pplx::task<{{{returnType}}}{{^returnType}}void{{/returnType}}> {{operationId}}(
        {{#allParams}}
        {{^required}}boost::optional<{{/required}}{{{dataType}}}{{^required}}>{{/required}} {{paramName}}{{^-last}},{{/-last}}
        {{/allParams}}
    ) const = 0;
    {{/vendorExtensions.x-group-parameters}}
    {{/operation}}
};{{/gmockApis}}

class {{declspec}} {{classname}} {{#gmockApis}} : public I{{classname}} {{/gmockApis}}
{
public:
    {{#gmockApis}}
    using Base = I{{classname}};
    {{/gmockApis}}

    explicit {{classname}}( std::shared_ptr<const ApiClient> apiClient );

    {{#gmockApis}}
    ~{{classname}}() override;
    {{/gmockApis}}
    {{^gmockApis}}
    virtual ~{{classname}}();
    {{/gmockApis}}

    {{#operation}}
    /// <summary>
    /// {{summary}}
    /// </summary>
    /// <remarks>
    /// {{notes}}
    /// </remarks>
    {{#allParams}}
    /// <param name="{{paramName}}">{{#lambda.multiline_comment_4}}{{description}}{{/lambda.multiline_comment_4}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>
    {{/allParams}}
    {{#vendorExtensions.x-group-parameters}}
    pplx::task<{{{returnType}}}{{^returnType}}void{{/returnType}}> {{operationId}}(
        {{#vendorExtensions.x-fc-positional-params}}
        {{{dataType}}} {{paramName}}{{^-last}},{{/-last}}
        {{/vendorExtensions.x-fc-positional-params}}
        {{#vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}, {{/vendorExtensions.x-fc-grouped-single}}{{/vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}boost::optional<{{{dataType}}}> {{paramName}} = boost::none{{/vendorExtensions.x-fc-grouped-single}}
        {{#vendorExtensions.x-fc-grouped-multi}}
        {{#vendorExtensions.x-fc-positional-params}}{{#-last}}, {{/-last}}{{/vendorExtensions.x-fc-positional-params}}const Api{{operationIdCamelCase}}Options& options = {}
        {{/vendorExtensions.x-fc-grouped-multi}}
    ) const{{#gmockApis}} override{{/gmockApis}};
    {{/vendorExtensions.x-group-parameters}}
    {{^vendorExtensions.x-group-parameters}}
    pplx::task<{{{returnType}}}{{^returnType}}void{{/returnType}}> {{operationId}}(
        {{#allParams}}
        {{^required}}boost::optional<{{/required}}{{{dataType}}}{{^required}}>{{/required}} {{paramName}}{{^-last}},{{/-last}}
        {{/allParams}}
    ) const{{#gmockApis}} override{{/gmockApis}};
    {{/vendorExtensions.x-group-parameters}}
    {{/operation}}

protected:
    std::shared_ptr<const ApiClient> m_ApiClient;
};

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

#endif /* {{apiHeaderGuardPrefix}}_{{classname}}_H_ */

{{/operations}}
