{{#vendorExtensions.x-fc-grouped-multi}}
{{#vendorExtensions.x-fc-grouped-params}}
        let {{paramName}} = options.{{paramName}}
{{/vendorExtensions.x-fc-grouped-params}}
{{/vendorExtensions.x-fc-grouped-multi}}