{{#vendorExtensions.x-fc-positional-params}}{{paramName}}: {{paramName}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-fc-positional-params}}{{#vendorExtensions.x-fc-has-grouped}}{{#vendorExtensions.x-fc-positional-params.0}}, {{/vendorExtensions.x-fc-positional-params.0}}options: {{classname}}.Api{{operationIdCamelCase}}Options({{#vendorExtensions.x-fc-grouped-params}}{{paramName}}: {{paramName}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-fc-grouped-params}}){{/vendorExtensions.x-fc-has-grouped}}