{{#vendorExtensions.x-fc-positional-params}}{{paramName}}: {{paramName}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-fc-positional-params}}{{#vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}, {{/vendorExtensions.x-fc-grouped-single}}{{#vendorExtensions.x-fc-grouped-multi}}, {{/vendorExtensions.x-fc-grouped-multi}}{{/vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}{{paramName}}: {{paramName}}{{/vendorExtensions.x-fc-grouped-single}}{{#vendorExtensions.x-fc-grouped-multi}}options: options{{/vendorExtensions.x-fc-grouped-multi}}