{{#vendorExtensions.x-fc-positional-params}}{{paramName}}: {{> _fc_type}}{{^required}}? = nil{{/required}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-fc-positional-params}}{{#vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}, {{/vendorExtensions.x-fc-grouped-single}}{{#vendorExtensions.x-fc-grouped-multi}}, {{/vendorExtensions.x-fc-grouped-multi}}{{/vendorExtensions.x-fc-has-positional}}{{#vendorExtensions.x-fc-grouped-single}}{{paramName}}: {{> _fc_type}}? = nil{{/vendorExtensions.x-fc-grouped-single}}{{#vendorExtensions.x-fc-grouped-multi}}options: Api{{operationIdCamelCase}}Options = .init(){{/vendorExtensions.x-fc-grouped-multi}}