(
        self,
        {{^vendorExtensions.x-group-parameters}}
        {{#allParams}}
        {{paramName}}: {{{vendorExtensions.x-py-typing}}}{{^required}} = None{{/required}},
        {{/allParams}}
        {{/vendorExtensions.x-group-parameters}}
        {{#vendorExtensions.x-group-parameters}}
        {{! positional: required params first (in declared order), then optional body }}
        {{#allParams}}
        {{#required}}
        {{paramName}}: {{{vendorExtensions.x-py-typing}}},
        {{/required}}
        {{/allParams}}
        {{#allParams}}
        {{^required}}
        {{#isBodyParam}}
        {{paramName}}: {{{vendorExtensions.x-py-typing}}} = None,
        {{/isBodyParam}}
        {{/required}}
        {{/allParams}}
        {{! exactly 1 optional (has-grouped but not multi): render that single optional non-body param directly as a keyword arg }}
        {{#vendorExtensions.x-fc-has-grouped}}
        {{^vendorExtensions.x-fc-grouped-multi}}
        {{#allParams}}
        {{^required}}
        {{^isBodyParam}}
        {{paramName}}: {{{vendorExtensions.x-py-typing}}} = None,
        {{/isBodyParam}}
        {{/required}}
        {{/allParams}}
        {{/vendorExtensions.x-fc-grouped-multi}}
        {{/vendorExtensions.x-fc-has-grouped}}
        {{#vendorExtensions.x-fc-grouped-multi}}
        options: Optional[{{operationIdCamelCase}}Options] = None,
        {{/vendorExtensions.x-fc-grouped-multi}}
        {{/vendorExtensions.x-group-parameters}}
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le={{#servers.size}}{{servers.size}}{{/servers.size}}{{^servers.size}}1{{/servers.size}})] = 0,
    )